{% extends 'substitute/layout.html' %}

{% block head %}
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            const activeLink = document.getElementById("for-confirmAsk");
            console.log(activeLink.firstElementChild);
            activeLink.firstElementChild.style.textDecorationLine = "underline";
            activeLink.firstElementChild.style.textDecorationThickness = "2.5px";
            activeLink.style.fontWeight = "bold";
        })
    </script>
{% endblock %}

{% block body %}
    <table class="my-table table table-bordered border-secondary table-sm table-striped">
        <thead>
            <tr>
                <th>募集状況</th>
                <th>応募数</th>
                <th>代行日時</th>
                <th>詳細</th>
            </tr>
        </thead>
        <tbody>
            {% for ask_and_entry_num in asks_and_entry_nums %}
            <tr>
                <td>{% if ask_and_entry_num.ask.contractor == null %} 募集中 {% else %} 委託者確定済 {% endif %}</td>
                <td>{{ ask_and_entry_num.entry_num }}</td>
                <td>{{ ask_and_entry_num.ask.date }}</td>
                <td><a href="{% url 'substitute:specification' ask_and_entry_num.ask.id %}">詳細を見る</a></td>
            </tr>
            {% empty %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <p>あなたが依頼した代行はありません</p>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}