{% extends 'substitute/layout.html' %}

{% block head %}
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            const activeLink = document.getElementById("for-home");
            console.log(activeLink.firstElementChild);
            activeLink.firstElementChild.style.textDecorationLine = "underline";
            activeLink.firstElementChild.style.textDecorationThickness = "2.5px";
            activeLink.style.fontWeight = "bold";

            //カレンダー/テーブル表示の切り替え
            const calendarVisualizer = document.getElementById("calandar-visualizer");
            const tableVisualizer = document.getElementById("table-visualizer");
            const calendarDisplay = document.getElementById("calendar-display");
            const tableDisplay = document.getElementById("table-display");

            tableDisplay.style.height = calendarDisplay.clientHeight + 'px';

            calendarVisualizer.onclick = function(){
                calendarDisplay.style.display = "block";
                tableDisplay.style.display = "none";
                calendarVisualizer.style.backgroundColor = "#808080";
                tableVisualizer.style.backgroundColor = "#ffffff";
            };
            tableVisualizer.onclick = function(){
                calendarDisplay.style.display = "none";
                tableDisplay.style.display = "block";
                calendarVisualizer.style.backgroundColor = "#ffffff";
                tableVisualizer.style.backgroundColor = "#808080";
            };
            
        })
    </script>
{% endblock %}

{% block body %}
    {% if messages %}
        <div class="messages messages-success" style="list-style: none;">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    
    <p class="btn" id="calandar-visualizer" style="background-color: #808080;"><small>カレンダー</small></p>
    <p class="btn" id="table-visualizer"><small>テーブル</small></p>

    <div id="calendar-display">
        {% comment %} 前後の月への遷移 {% endcomment %}
        <a href="{% url 'substitute:home' calendar_data.month_previous.year calendar_data.month_previous.month %}">前の月</a>
        {{ calendar_data.month_current | date:"Y年m月" }}
        <a href="{% url 'substitute:home' calendar_data.month_next.year calendar_data.month_next.month %}">次の月</a>

        <table class="my-calendar my-table table table-bordered border-secondary table-sm table-striped">
            {% comment %} 曜日が一番上にヘッダーとして並ぶ {% endcomment %}
            <thead>
                <tr>
                    {% for w in calendar_data.week_names %}
                        <th>{{ w }}</th>
                    {% endfor %}
                </tr>
            </thead>

            {% comment %} カレンダーの中身 {% endcomment %}
            <tbody class="inner-calendar">
            {% for week_days_asks in month_days_asks%}
                <tr>
                    {% for day_days_asks in week_days_asks %}
                        {% if calendar_data.now == day_days_asks.day %}
                            <td class="table-success">
                        {% else %}
                            <td>
                        {% endif %}
                                {% comment %} その日の日付とそこに含まれる業務を箇条書きでカレンダーに1マスずつ格納していく {% endcomment %}
                                <ul>
                                    <li>
                                    {% comment %} 前後の月が含まれる場合は何月かも書く {% endcomment %}
                                    {% if calendar_data.month_current.month != day_days_asks.day.month %}
                                        {{ day_days_asks.day | date:"m/d" }}
                                    {% else %}
                                        {{ day_days_asks.day.day }}
                                    {% endif %}
                                    </li>
                                    
                                    {% for ask in day_days_asks.asks %}
                                    <li>
                                        <a href="{% url 'substitute:specification' ask.id %}">
                                        {% if ask.contractor == null %}
                                            &#9675;
                                        {% else %}
                                            X
                                        {% endif %}
                                            {{ ask.client }}
                                        </a>
                                    </li>
                                    {% empty %}
                                    <li></li>
                                    {% endfor %}
                                </ul>
                            </td>
                        {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="table-display" style="display:none; overflow: scroll;">
        <table class="my-table table table-bordered border-secondary table-sm table-striped">
            <thead>
                <tr>
                    <th>募集状況</th>
                    <th>代行日時</th>
                    <th>代行依頼者</th>
                </tr>
            </thead>
            <tbody>
                {% for ask in asks_after_now %}
                    <tr>
                        <td>{% if ask.contractor == null %} &#9675; {% else %} X {% endif %}</td>
                        <td>{{ ask.date }}</td>
                        <td><a href="{% url 'substitute:specification' ask.id %}">{{ ask.client }}</a></td>
                    </tr>
                {% empty %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <p class="complement">&#9675;: 募集中, X: 締切</p>
{% endblock %}