{% extends 'substitute/layout.html' %}
{% load crispy_forms_tags %}

{% block head %}
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            menu = document.querySelector(".menu-bar");
            console.log(menu);
            menu.remove();
        });
    </script>
{% endblock head %}

{% block body %}
    <h3 class='theme'>ログイン画面</h3>

    {% if messages %}
        <div class="messages messages-fail" style="list-style: none;">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <div class="form-wrapper">
        <form action="{% url 'substitute:login' %}" method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <input type="submit">
        </form>
    </div>
{% endblock %}