{% extends 'substitute/layout.html' %}

{% block head %}
{% endblock %}

{% block body %}
    <div style="height: 350px; overflow: scroll;">
        <table class="my-table table table-bordered border-secondary table-sm table-striped">
            <thead>
                <tr>
                    <th>代行日時</th>
                    <th>代行依頼者</th>
                    <th>詳細</th>
                </tr>
            </thead>
            <tbody>
                {% for ask in asks_past %}
                    <tr>
                        <td>{{ ask.date | date:"m/d" }} ({{ ask.day }})</td>
                        <td>{{ ask.client }}</td>
                        <td><a href="{% url 'substitute:specification' ask.id %}">詳細を見る</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}