{% extends 'substitute/layout.html' %}
{% load crispy_forms_tags %}

{% block head %}
    {{ form.media }}
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            const conditions = JSON.parse('{{ conditions_json|safe }}');
            conditions.forEach(condition => {
                element = document.getElementById(condition);
                element.style.backgroundColor = "#fd7e00";
            });
        })
    </script>
{% endblock %}

{% block body %}
    <h3 class="sub-theme">代行依頼の修正画面</h3>
    <p class="caption">修正前</p>
    <table class="my-table table table-bordered border-secondary table-sm table-striped">
        <thead>
            <tr>
                <th>項目</th>
                <th>内容</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>日付</td>
                <td>{{ ask_past.date | date:"m/d" }} ({{ ask_past.day }})</td>
            </tr>
            <tr>
                <td>代行理由</td>
                <td>{{ ask_past.reason }}</td>
            </tr>
            <tr>
                <td>特筆事項</td>
                <td>{{ ask_past.extra }}</td>
            </tr>
            <tr>
                <td>応募条件</td>
                <td>
                    <ul style="display: flex;">
                        {% for condition in conditions_all %}
                            <li><p class="condition" id="{{ condition }}">{{ condition }}</p></li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <hr>

    <p class="caption">修正後</p>
    <form action="{% url 'substitute:revise' ask_past.id %}" method="post" class="need-check">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="上記内容に修正する" class="btn btn-primary">
    </form>
{% endblock %}