{% extends 'substitute/layout.html' %}

{% block head %}
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            const conditions = JSON.parse('{{ conditions_json|safe }}');
            conditions.forEach(condition => {
                element = document.getElementById(condition);
                element.style.backgroundColor = "#fd7e00";
            });
        })
    </script>
{% endblock %}
    
{% block body %}
    <div class="table-wrapper">
        <p class="caption">代行依頼の詳細</p>
        <table class="my-table table table-bordered border-secondary table-sm table-striped">
            <thead>
                <tr>
                    <th>項目</th>
                    <th>内容</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>日付</td>
                    <td>{{ ask.date | date:"m/d" }} ({{ ask.day }})</td>
                </tr>
                <tr>
                    <td>依頼者</td>
                    <td>{{ ask.client }}</td>
                </tr>
                <tr>
                    <td>担当講座</td>
                    <td>
                        <ul style="list-style: none;">
                        {% for course in assumed_courses %}
                            <li>{{ course.name }}</li>
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>代行理由</td>
                    <td>{{ ask.reason }}</td>
                </tr>
                <tr>
                    <td>特筆事項</td>
                    <td>{{ ask.extra }}</td>
                </tr>
                <tr>
                    <td>応募条件</td>
                    <td>
                        <ul style="display: flex;">
                            {% for condition in conditions_all %}
                                <li><p class="condition" id="{{ condition }}">{{ condition }}</p></li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <hr>

    <div class="table-wrapper">
        <p class="caption">現在の申込者</p>
        <table class="my-table table table-bordered border-secondary table-sm table-striped">
            <thead>
                <tr>
                    <th>応募日時</th>
                    <th>応募者名</th>
                    <th>応募状況</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in entries %}
                    <tr>
                        <td>{{ entry.date | date:"m/d" }}</td>
                        <td>{{ entry.cl.name }}</td>
                        <td>
                            {% if ask.client == cl %}
                                {% if ask.contractor == null %}
                                    <form action="{% url 'substitute:specification' ask.id %}" method="post" class="need-check">
                                        {% csrf_token %}
                                        <input type="hidden" name="contractor" value="{{ entry.id }}">
                                        <input type="submit" value="このCLに依頼する" id="contract" class="btn btn-primary" style="margin: 3px;">
                                    </form>
                                {% else %}
                                    {{ entry.state }}
                                {% endif %}
                            {% else %}
                                {{ entry.state }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% for entry in entries %}
        {% empty %}
            <p>申込者はいません</p>
        {% endfor %}
    </div>

    <hr>

    {% if ask.client == cl %}
        <a href="{% url 'substitute:revise' ask.id %}" class="btn btn-primary">代行依頼を修正する</a>

    {% else %}
        {% if not is_qualified %}
            <p>あなたには応募資格がありません。</p>
            <script>
                document.addEventListener('DOMContentLoaded', function(){
                    button = document.getElementById("entry");
                    button.disabled = true;
                })
            </script>
        {% endif %}
        {% if ask.contractor != null %}
            <p>出勤者が既に確定しています。</p>
            <script>
                document.addEventListener('DOMContentLoaded', function(){
                    button = document.getElementById("entry");
                    button.disabled = true;
                })
            </script>
        {% endif %}
        {% if is_entry %}
            <p>あなたは既に応募済みです</p>
            <script>
                document.addEventListener('DOMContentLoaded', function(){
                    button = document.getElementById("entry");
                    button.disabled = true;
                })
            </script>
        {% endif %}
        <form action="{% url 'substitute:specification' ask.id %}" method="post" class="need-check">
            {% csrf_token %}
            <input type="hidden" name="entrant" value="{{ cl.id }}">
            <input type="submit" value="この代行依頼に応募する" id="entry">
        </form>
    {% endif %}

{% endblock %}